<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <div *ngFor="let tempService of services" class="col-md3">
                    <div class="product-box">
                        <a routerLink="/services/{{ tempService.id }}">
                            <img src="assets/images/products/placeholder.png" />
                        <!-- </a>
                        <a routerLink="/services/{{ tempService.id }}">-->
                            <h1>{{ tempService.name }}</h1>
                        </a>
                        <div class="price">
                            {{ tempService.price }}
                        </div>
                        <a href="#" class="primary-btn">
                            Add to card
                        </a>
                    </div>
                </div>

                <!-- if product is null/undefined or its length is 0 -->
                <div *ngIf="services?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No service found.
                </div>

            </div>
        </div>
    </div>
</div>