<div class="detail-section">

    <div class="container-fluid"> 

        <img src="assets/images/products/placeholder.png" class="detail-img"> <!-- @TODO: {{ service.imageUrl }} -->
        <h3>{{ service.name }}</h3>
        <div class="price">{{ service.price | currency: 'USD' }}</div>
        <button class="btn btn-primary btn-sm" (click)="addToCart()">
            Add to card
        </button>
        <hr>
        <h4>Description:</h4>
        <p>{{ service.description }}</p>
        <a routerLink="/services" class="mt-5">Back to Service List</a>

    </div>
</div>
